.topnav{
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #bbeeee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #227799;
    color: #009999;
}

.topnav a.active{
    background-color: #0055aa;
    color: #00bb99
}